body{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}
.collapse-widget{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.container{
    padding: 10px;
    width: 500px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.btn{
    background-color: #0d6efd;
    color:#fff;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}
.btn:hover{
    background-color: #0b5ed7;
}
.btn:focus{
    outline: 2px solid #92b9f2;
    border-radius: 6px;
}
.text-block{
    display: grid;
    animation-name: coll;
    animation-duration: 1s;
    transition: all ease 1s;
    grid-template-rows: 1fr;
}

@keyframes coll {
   from{
    opacity: 0;
   }
   to{
    opacity: 1;
   }
}
.text-block.hide{
    grid-template-rows: 0fr;
}

.text-block>div{
    overflow: hidden;
}

.copy{
    color: #adadad;
    cursor: pointer;
}
.text{
    border: 1px solid #d1d1d1;
    padding: 10px;
}

